@charset "utf-8";
/**
 * Copyright 2012 Sawai Hiroshi
 * http://www.info-town.jp
 *
 */
.view .item {
    overflow: hidden;
}
.view .item{
    display: none;
}
.view .active {
    display: block;
}
.slide .nav {
    overflow: hidden;
    clear: both;
    margin: 5px 0 10px;
}
.slide .nav .item {
    overflow: hidden;
    /* zoom: 1; for IE */
    border: 1px solid #e1dece;
    float: left;
    margin: 0 5px 0 0;
    width: 24px;
    height: 24px;
    color: #554d31;
    text-align: center;
    cursor: pointer;
}
.item span {
    line-height: 24px;
    vertical-align: middle;
}
.mouseover {
    border: 1px solid #666666;
    color: #000000;
    background: #FF0000;
}
